@import './layout.scss';
@mixin btn($size:14px,$color:#fff,$bgcolor:#F04752,$padding:2px,$radius:5px) {
   padding: $padding;
   background-color: $bgcolor;
   border-radius: $radius;
   border:1px solid $bgcolor;
   font-size: $size;
   color: $color;
   text-align: center;
   line-height: 1;
   display: inline-block
}

@mixin list($direction:column) {
   @include flex($direction);
}
@mixin panel($bgcolor:#fff,$padding:0,$margin:20px,$height:56px,$txtPadding:0 8px,$color:#333,$fontsize:24px ) {
   background-color: $bgcolor;
   padding: $padding;
   margin: $margin;
   >h4{
       margin: 0;
       height: $height;
       line-height: $height;
       padding: $txtPadding;
       text-overflow: ellipsis;
       white-space: nowrap;
       overflow: hidden;
       text-align: center;
       color: $color;
       font-size: $fontsize
   }
 }
 